* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffdddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img{
    height: 50px;
    width: 70px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.destaque {
    text-align: center;
    padding: 40px;
    background-color: #fdf2f3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.destaque h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 3em;
    color: #d2691e; 
    margin-bottom: 20px;
    font-weight: bold;
}

.destaque p {
    font-family: 'Georgia', serif; 
    font-size: 1.2em;
    color: #333; 
    line-height: 1.6;
    margin: 20px 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.destaque img {
    width: 70%;
    max-width: 600px;
    border-radius: 8px;
    margin-top: 20px;
}

.destaque-resumo{
    display: flex;
    align-items: center;
}

.cardapio {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardapio h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #a11e6aff;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.cardapio h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #a11e6aff;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.cardapio img {
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
}

.card h4 {
    font-family: 'Arial', sans-serif;
    color: #d03e7b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-food{
    width: 400px;
    height: auto;
    
    border: 2px solid #ffe1ee;
    margin: 10px;
    height: 300px;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0 0 5px 1px #b18597, 0 5px #ffe3e2;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


footer {
    background-color: #ffdddd;
    color: #a11e6aff;
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #382b22;
}





.headerBTN {
 
 text-transform: uppercase;
 padding: 0.50em 1.50em 0.50em;
 background: #fff0f0;
 border: 2px solid #b18597;
 border-radius: 0.50em;
 margin-left: 25px;
 height: 70%;
 top: 0;
}



.headerBTN:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

.headerBTN:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

.headerBTN:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

.headerBTN:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}

.logo{
    width: 200%;
    margin-right: 10px;
    top:5%; 
}

.navIcon{
    margin-right: 7px;
}

.name{
    margin-left: 10px;
    color: #a11e6aff;
}

.item-food{
    margin-left: 60px;
    margin-top: 20px;
}

.menu-icon{
    height: 55px;
}


